body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

#menu {
  text-align: center;
  background: #222;
  
}
#menu .menu-item {
    color: aqua;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 25px;
    
}



#header {
    width: 1000px;
    text-align: center;
    position: relative;
}